body {
  margin: 0;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  z-index: 2;
  background-color: #4056A1;
  color: #ffffff;
}


nav #brand {
  font-family: 'Bungee', cursive;
  font-size: 1.2em;
  padding: 1.5em;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding: 1.5em;
}

.fa-angle-double-down {
  margin-left: 50px;
  color: red;
  cursor: pointer;
}
.fa-angle-double-down {
  animation: mover 1s infinite alternate;
}
@keyframes mover {
  0% { transform: translateY(-3px); } /* Negative -> up */
  100% { transform: translateY(8px); } /* Positive -> down */
} 



