

.container {
  display: flex;
  flex-direction: column;
  height: 160px;  
  width: 100%;
  background: #dee0df;
  padding: 1.5em;
  margin-top: 1em;
}

.new-tweet textarea {
  width: 100%;
  height: 50px;
  border-style: none;
  border-bottom: 3px solid black;
}

.new-tweet input {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #FFF;
  border-style: none;
}

#bottom-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

::placeholder {
  font-weight: 700;
  padding: 2px;
}

.counter {
  font-family: 'Bungee', cursive;
}

.counter-caution {
  color: #ed1c2e;
}